

  .section {
    z-index: 1;
    width: 100%; /* Optionally set a width */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text content */
    padding-top: 40px;
    padding-bottom: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .sectionimage {
    width: 380px;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    box-shadow: 25px 20px 35px rgba(0, 0, 0, 0.3);
  }
  
  .pTwo {
    padding: 100px;
    white-space: pre-wrap; /* Preserve whitespace characters */
  }
  
  .pOne {
    font-size: 40px;
    color: #333;
    line-height: 1.3; /* Adjust line-height for better spacing */
  }
  
  .pTwo {
    font-size: 30px;
    color: #333;
    line-height: 1.3; /* Adjust line-height for better spacing */
    padding-left: 35px;
  }

  
  .galay {
    display: flex;
    justify-content: center; /* Center the gallery items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line if they overflow */
    gap: 10px; /* Optional: Add some space between the images */
    padding: 20px; /* Optional: Add some padding around the gallery */
  }
  
  .sectiong {
    width: 150px; /* Adjust the width as needed */
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
  }
  
  .sectiong:hover {
    transform: scale(1.1); /* Optional: Add a hover effect */
  }
  
  .content {
    padding-top: 50px;
  }

  .flink{
    color:#ee7974;
    font-size: 20px;
  }